
/* media Q css */

@media screen and (max-width: 1024px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 25px;  
    }
    .contact_icon{
        width: 90px;
    } 
}

@media screen and (max-width: 834px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 25px;  
    }
    .contact_icon{
        width: 90px;
    } 
}
@media screen and (max-width: 768px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 25px;  
    }
    .contact_icon{
        width: 90px;
    }     
}
@media screen and (max-width: 600px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 22px;  
    }
    .contact_icon{
        width: 90px;
    }
}
@media screen and (max-width: 414px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 15px;  
    }
    .contact_icon{
        width: 80px;
    } 
}
@media screen and (max-width: 411px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 18px;  
    }
    .contact_icon{
        width: 90px;
    } 
}
@media screen and (max-width: 375px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 16px;  
    }
    .contact_icon{
        width: 90px;
    } 
}
@media screen and (max-width: 360px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 15px;  
    }
    .contact_icon{
        width: 70px;
    }  
}
@media screen and (max-width: 320px) {
    .contactus_top_margin{
        height: 0px;
    }
    .contact_tagline{
        color: white;
        font-size: 13px;  
    }
    .contact_icon{
        width: 70px;
    }
    
}
